# Database and Cache
DATABASE_URL=postgresql://user:pass@host:port/db?sslmode=require
REDIS_URL=redis://localhost:6379

# JWT Config
JWT_SECRET=
JWT_ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=

# Meta WhatsApp Cloud API Settings
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_VERIFY_TOKEN=

# Fast2SMS API Settings
FAST2SMS_API_KEY=
